{% extends "base.html" %}

{% block title %}{% block dispatching_title %}{% endblock %} - Dispatching{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dispatching.index') }}">
                            <i class="bi bi-list-ul"></i> All Dispatches
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('dispatching.create') }}">
                            <i class="bi bi-plus-circle"></i> Create Dispatch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-clock"></i> Pending
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-play-circle"></i> In Progress
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-check-circle"></i> Completed
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <main role="main" class="col-md-10 ml-sm-auto px-4">
            {% block dispatching_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
