{% extends "maintenance/base.html" %}

{% block title %}Template Action Set Details{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title">Template Action Set Details</h3>
                    <div>
                        <a href="{{ url_for('maintenance.template_action_sets_edit', id=action_set.id) }}" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Edit
                        </a>
                        <a href="{{ url_for('maintenance.template_action_sets_list') }}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back to List
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5>Basic Information</h5>
                            <table class="table table-borderless">
                                <tr>
                                    <th width="30%">Name:</th>
                                    <td>{{ action_set.name }}</td>
                                </tr>
                                <tr>
                                    <th>Category:</th>
                                    <td>{{ action_set.category or 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <th>Description:</th>
                                    <td>{{ action_set.description or 'N/A' }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h5>Audit Information</h5>
                            <table class="table table-borderless">
                                <tr>
                                    <th width="30%">Created By:</th>
                                    <td>{{ action_set.created_by.username if action_set.created_by else 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <th>Created On:</th>
                                    <td>{{ action_set.created_at.strftime('%Y-%m-%d %H:%M:%S') if action_set.created_at else 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <th>Updated By:</th>
                                    <td>{{ action_set.updated_by.username if action_set.updated_by else 'N/A' }}</td>
                                </tr>
                                <tr>
                                    <th>Updated On:</th>
                                    <td>{{ action_set.updated_at.strftime('%Y-%m-%d %H:%M:%S') if action_set.updated_at else 'N/A' }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row mt-4">
                        <div class="col-12">
                            <h5>Action Items ({{ action_set.template_action_items|length }})</h5>
                            {% if action_set.template_action_items %}
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sequence</th>
                                                <th>Description</th>
                                                <th>Duration (min)</th>
                                                <th>Required Skills</th>
                                                <th>Tools</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in action_set.template_action_items|sort(attribute='sequence_number') %}
                                            <tr>
                                                <td>{{ item.sequence_number }}</td>
                                                <td>{{ item.action_description }}</td>
                                                <td>{{ item.estimated_duration or 'N/A' }}</td>
                                                <td>{{ item.required_skills or 'N/A' }}</td>
                                                <td>{{ item.tools_template.tool_name if item.tools_template else 'N/A' }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% else %}
                                <p class="text-muted">No action items defined for this set.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
