/* Andale Mono */
@font-face {
    font-family: 'AndaleMono';
    src: url('Andale Mono/andalemono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Fira Code */
@font-face {
    font-family: 'FiraCode';
    src: url('googleFonts/Fira_Code/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Jura */
@font-face {
    font-family: 'Jura';
    src: url('googleFonts/Jura/Jura-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Source Code Pro */
@font-face {
    font-family: 'SourceCodePro';
    src: url('googleFonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Inclusive Sans */
@font-face {
    font-family: 'InclusiveSans';
    src: url('googleFonts/Inclusive_Sans/InclusiveSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Noto Sans */
@font-face {
    font-family: 'NotoSans';
    src: url('googleFonts/Noto_Sans/NotoSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Lora */
@font-face {
    font-family: 'Lora';
    src: url('googleFonts/Lora/Lora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



